h3{
 color: purple;
 font-size: 40px;
}

h2{
 color: blue;
 font-size: 50px;
 font-family:'Dela Gothic One', cursive;
}

.img_gatos{
    width:400px;
    height:200px;
    border-radius:20%;
    border-width: 5px;
    border-style: double;
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
body{
    background-color: #f0f0f0;
}

div#listas{
    width: 960px;
    height: 460px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    
}

div#lista2{
   
    width: 300px;
    height: 300px;
    float: right;
    display: inline-block;
    margin-right: 30px;
    
}

div#lista1{
    
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 30px;
}
h2, h3{
    text-align: center;
}

form{
    margin-top: 10px;
}

footer{
    text-align: center;
}

.img_lg{
  border-radius: 50%;
}